/* Definición de Variables */
:root {
    --main-bg-color: #f4f4f4;
    --primary-color: #007BFF; /* Este color ya no se usa si el fondo es claro */
    --text-color: #333; /* Color de texto oscuro para contraste */
    --secondary-color: #6c757d; /* Color secundario más claro para subtítulos */
    --font-family: 'Arial', sans-serif;
    --header-hover-color: #0056b3; /* Color modificado para el hover del header, asegúrate de que contraste */
}

/* Estilos básicos y reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--main-bg-color);
    padding: 20px;
}

header {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-photo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid white;
    margin: 0 20px;
}

h1, p {
    text-align: center;
    margin: 10px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: var(--text-color); /* Color oscuro para los enlaces */
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transición para color también */
}

nav a:hover {
    background-color: var(--header-hover-color);
    color: white; /* Texto blanco en hover para contraste */
    border-radius: 5px;
}

h1, h2 {
    color: var(--text-color);
}

h3 {
    text-align: center; /* Centra el texto de los subtítulos */
    margin-bottom: 0.75em; /* Agrega un poco de espacio debajo de los títulos de sección */
}

h2 {
    text-align: center; /* Centra el texto de los subtítulos */
    margin-bottom: 0.75em; /* Agrega un poco de espacio debajo de los títulos de sección */
}

p {
    text-align: justify; /* Justifica el texto de los párrafos para una apariencia uniforme */
    margin-bottom: 1em; /* Agrega un poco de espacio debajo de cada párrafo */
}

section {
    padding: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0 auto;
    max-width: 800px; /* O ajusta esto según prefieras */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: white;
}

footer {
    width: 100%;
    padding: 20px 0;
    color: var(--text-color);
    text-align: center; /* Asegúrate de que esta propiedad esté aplicada correctamente */
    display: block; /* Agrega display block si no está presente */
    box-sizing: border-box; /* Asegúrate de que el padding no afecte el ancho */
}


#educacion p,
#proyectos p,
#Idiomas-Lenguajes p {
    text-align: center;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 767px) {
    header {
        padding: 5px 20px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    #profile-photo {
        width: 80px;
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) {
    body {
        padding: 20px 40px;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 20px 60px;
    }

    h1 {
        font-size: 2.5rem;
    }

    p, li {
        font-size: 1.2rem;
    }
}
